<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        td, th, table {
            border: 1px solid black;
            width: 300px;     
            text-align: center;   
        }
    </style>
</head>
<body>
    <h1>This is products </h1>
    <table>
        <tr>
            <th> Name</th>
            <th> Price</th>
        </tr>
    {% for each in products %}    
        <tr>
            <td> {{each.name}} </td>
            <td> {{each.price}} </td>
        </tr>        
    {% endfor %}
    </table>
</body>
</html>